<%= form_for @post do |f| %>
  <div class="input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Save Post" %>
  </div>
<% end %>
